/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-family: Montserrat, sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  display: flex;
  --primary-accent: #48a9a6;
  --secondary-accent: #ba274a;
  --tertiary-accent: #e4e9b2;
  --primary-background: #586ba4;
  --secondary-background: #0d1821;
  /* width: 100vw;
  margin: 0; */
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 3px solid red;
  /* min-width: 100%; */
  /* left: 0; */
  top: 0;
  width: 100%;
  margin: 0;
}
header {
  border: 3px solid red;
  height: fit-content;
  align-self: center;
  width: inherit;
  color: var(--primary);
  font-style: ;
}
main {
  border: 3px solid hotpink;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0.5em 1em;
  width: inherit;
}
nav {
  border: 3px solid green;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

nav a {
  margin: 0.25em 1em;
  border: 3px solid lightgreen;
}

main section {
  border: 3px solid orange;
  flex-grow: 1;
}

.article-card {
  border: 3px solid blue;
  padding: 0.25em 1em;
  margin: 0.5em 0em;
  display: flex;
  flex-direction: column;
}
.article-card div {
  display: flex;
  justify-content: space-between;
}
.article-card h3 {
  align-self: center;
}
.article-card div p {
  margin: 0.2em 1em;
}
.article-card img {
  align-self: center;
  width: 4.5em;
  height: 3em;
}
.single-article{
  display:flex;
  flex-direction: column;
}
.skeleton {
    width: 100%;
}
.comment-skeleton {
    width: 50%;
    align-self: center;
}
.article-details {
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
}
.article-details * {
  padding: 0em 0.5em;
  /* border: 3px solid red */
}
.article-details div {
  display: flex;
  justify-content: space-between;
  /* border: 3px solid green */
}

.article-details img {
  max-width: 34em;
  max-height: 51em;
  width: 100%;
  align-self: center;
  margin: 0.5em 1em;
}
.article-details p {
  margin: 0.5em 00.5em;
}
.article-votes {
  display: flex;
  justify-content: flex-start;
}
.article-votes * {
  padding: 0;
  margin: 0;
  /* border: 3px solid hotpink; */
  align-self: center;
}
.article-votes button {
  margin: 0em 0.15em;
  display: flex;
  font-size: 1.5em;
}
.comment-card {
  border: 3px solid hotpink;
  display: flex;
  flex-direction: column;
}
.comment-card * {
  padding: 0.5em 1em;
}
.comment-card div {
  display: flex;
  justify-content: space-between;
  padding: 0;
  /* border: 3px solid brown; */
}
/* .no-comments {
  flex-grow: 1;
} */
.comment-list a {
  align-self: center;
}
.comment-list {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 850px) {
  .single-article {
    display: flex;
    flex-direction: row;
  }
  .comment-list {
    max-width: 30vw;
    max-height: 100vh;
    overflow: auto;
    font-size: 0.8em;
  }
  .comment-list a {
    display: none;
  };
  border-radius: 100vw;
  
}
.article-votes button:hover {
  cursor: pointer;
}
.article-votes .downvote:active {
  color: blue;
}
.article-votes .upvote:active {
  color: red;
}
