/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  font-family: Montserrat, sans-serif;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  display: flex;
  --primary-accent: #eb1c23;
  --secondary-accent: #000000;
  --tertiary-accent: #1c29eb;
  --primary-background: #ffffff;
  --secondary-background: #ebebeb;
  /* width: 100vw;
  margin: 0; */
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 3px solid red; */
  /* min-width: 100%; */
  /* left: 0; */
  top: 0;
  width: 100%;
  margin: 0;
  background: var(--secondary-background);
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

a,
a:visited {
  color: inherit;
}
header {
  /* border: 3px solid red; */
  border-radius: 1em;
  height: fit-content;
  align-self: center;
  width: inherit;
  background: var(--primary-background);
  color: var(--primary-accent);
  padding: 0.2em 1em;
  margin: 0.5em;
  font-size: 1.3em;
}

main {
  /* border: 3px solid hotpink; */
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0.5em 1em;
  width: inherit;
  color: var(--secondary-accent);
}
nav {
  /* border: 3px solid green; */
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

nav a {
  margin: 0.25em 1em;
  border-radius: 1em;
  background: var(--primary-accent);
  color: #000000;
  font-size: 0.9em;
  padding: 0.25em 0.5em;
  /* border: 3px solid lightgreen; */
}

main section {
  /* border: 3px solid orange; */
  flex-grow: 1;
}

.article-card {
  /* border: 3px solid blue; */
  border-radius: 1em;
  /* box-shadow: 5px 5px 10px; */
  padding: 0.8em 1em;
  margin-top: 0;
  margin-bottom: 1.2em;
  display: flex;
  flex-direction: column;
  background: var(--primary-background);
}
.article-card div {
  display: flex;
  justify-content: space-between;
}
.article-card h3 {
  align-self: center;
}
.article-card div p {
  margin: 0.2em 1em;
}
.article-card img {
  align-self: center;
  width: 4.5em;
  height: 3em;
}
.single-article {
  display: flex;
  flex-direction: column;
}
.skeleton {
  width: 100%;
}
.comment-skeleton {
  width: 50%;
  align-self: center;
}
.article-details {
  /* border: 3px solid blue; */
  border-radius: 1em;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5em 0.5em;
  margin: 0.5em 0em;
  background: var(--primary-background);
}
.article-details * {
  padding: 0em 0.5em;
  /* border: 3px solid red */
}
.article-details div {
  display: flex;
  justify-content: space-between;
  /* border: 3px solid green */
}

.article-details img {
  max-width: 34em;
  max-height: 51em;
  width: 100%;
  align-self: center;
  margin: 0.5em 1em;
}
.article-details p {
  margin: 0.5em 00.5em;
}
.article-votes {
  display: flex;
  justify-content: flex-start;
}
.article-votes * {
  padding: 0;
  margin: 0;
  /* border: 3px solid hotpink; */
  align-self: center;
}
.article-votes button {
  margin: 0em 0.15em;
  display: flex;
  font-size: 1.5em;
  border-radius: 100vw;
  border: 0;
  background: transparent;
  padding: 0.1em;
}
.comment-card {
  /* border: 3px solid hotpink; */
  border-radius: 1em;
  background: var(--primary-accent);
  color: var(--primary-background);
  display: flex;
  flex-direction: column;
  margin: 0.5em 0em;
  /* box-shadow: 5px 5px 10px black; */
}
.comment-card * {
  padding: 0.5em 1em;
  color: var(--secondary-accent);
}
.comment-card div {
  display: flex;
  justify-content: space-between;
  padding: 0;
  /* border: 3px solid brown; */
}

.comment-card > p {
  font-weight: bolder;
}

.comment-list a {
  align-self: center;
}
::-webkit-scrollbar {
  width: 0.8em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px var(--secondary-background);
  border: solid 3px transparent;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--primary-accent);
  border-radius: 100vw;
  border: solid 3px transparent;
}
.comment-list {
  display: flex;
  flex-direction: column;
  height: 25em;
  overflow: auto;

  /* border: 3px solid gold; */
  margin: 0.5em 0.5em;
  margin-bottom: 0.8em;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20px,
    black calc(100% - 20px),
    transparent 100%
  );
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 20px,
    black calc(100% - 20px),
    transparent 100%
  );
}
.article-votes button:hover {
  cursor: pointer;
}
.article-votes .downvote:hover {
  color: var(--tertiary-accent);
}
.article-votes .upvote:hover {
  color: var(--primary-accent);
}
.article-votes .downvote:active {
  color: var(--tertiary-accent);
}
.article-votes .upvote:active {
  color: var(--primary-accent);
}
.article-votes .upvote-clicked {
  background: var(--primary-accent);
  color: black;
}
.article-votes .downvote-clicked {
  background: var(--tertiary-accent);
  color: black;
}
.new-comment form {
  /* border: 3px solid gold; */
  background: var(--primary-background);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  padding: 0.6em 0.8em;
  padding-bottom: 0em;
  margin-bottom: 0.5em;
}

.new-comment form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-comment button,
.modify-comment button {
  width: fit-content;
  align-self: flex-end;
  margin: 0.4em 0.5em;
  padding: 0.15em 0.5em;
  border-radius: 0.5em;
  color: var(--secondary-accent);
  background: var(--primary-accent);
  border: 0px solid var(--secondary-accent);
}
.new-comment button:hover {
  cursor: pointer;
  background: #c0191e;
}
.new-comment button:active {
  box-shadow: inset 2px 2px 10px;
}
.modify-comment button {
  background: var(--primary-background);
}
.modify-comment button:hover {
  cursor: pointer;
  background: rgb(213, 212, 212);
}
.modify-comment button:active {
  box-shadow: inset 2px 2px 10px;
}
.modify-comment button:disabled {
  background: rgb(213, 212, 212);
}
.modify-comment {
  display: flex;
  justify-content: flex-end;
}
.new-comment textarea {
  border-radius: 0.5em;
  border-radius: 0.5em;
}
.new-comment textarea:focus {
  border-radius: 0.5em;
  outline: var(--primary-accent);
  border: 2px solid var(--primary-accent);
}
.filter-bar {
  background: var(--primary-background);
  border-top: 5px solid var(--primary-accent);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: fit-content;
  text-align: center;
  font-size: 1.3em;
  padding-block: 0.3em;
  color: var(--primary-accent);
  font-size: 0.9em;
  display: flex;
  justify-content: center;
}

.filter-bar label {
  padding: 0em 0.5em;
}
.filter-bar select {
  border-radius: 1em;
  color: var(--secondary-accent);
  font-size: 1.2em;
}
.filter-bar select:focus {
  outline: var(--primary-accent);
  border: 2px solid var(--primary-accent);
}
@media only screen and (max-width: 400px) {
  .app {
    font-size: 0.8em;
  }

  .article-card div p {
    padding: 0.1em;
    margin: 0;
  }
}

@media only screen and (min-width: 850px) {
  .header-nav {
    display: flex;
    align-content: center;
  }
  .header-nav header {
    flex: 1 1 0;
  }
  .header-nav nav {
    flex: 4 1 0;
    align-self: center;
    /* padding: .54em; */
  }

  .single-article-page {
    display: flex;
    max-height: max-content;
  }
  .single-article {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: max-content;
  }
  .article-details {
    flex-grow: 1;
  }
  .comment-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 0.5em;
    /* border: 3px solid gold; */
  }

  .comment-list {
    width: 30vw;
    overflow: auto;
    overflow-x: hidden;
    font-size: 0.8em;
    flex: 4 1 0;
  }

  .new-comment {
    flex: 1 1 0;
  }
  .comment-list a {
    display: none;
  }
}
